#scroll-container {
  width: 100%;
  overflow-x: scroll;
}

#scroll-content {
  white-space: nowrap;
}

/* Style the content points */
.point {
  display: inline-block;
  width: 4000000px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  background-color: #000; /* Adjust as needed */
  margin: 10px; /* Adjust as needed */
}
